APP_LOG_LEVEL="DEBUG"

AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_ENDPOINT=""
AZURE_OPENAI_DEPLOYMENT_NAME="gpt-4.1-nano"
AZURE_OPENAI_API_VERSION="2024-12-01-preview"

MCP_B8N_URL="http://localhost:8001"

N8N_URL=["",""]

AZURE_COSMOS_DB_URI=""
AZURE_COSMOS_DB_KEY=""
AZURE_COSMOS_DB_DATABASE_NAME="prod_data"
AZURE_COSMOS_SUPPLIER_CONTAINER_NAME="suppliers"
AZURE_COSMOS_SUPPLIER_ORDERS_NAME="orders"

POSTGRES_JDBC=""

SMTP_SENDER_EMAIL=""
SMTP_RECEIVER_EMAIL=""
SMTP_PASSWORD=""